.newPost textarea,
.newPost input {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 1%;
  background: white;
  border-radius: 5px;
  border: none;
  line-height: 22px;
}
.newPost .input-field {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 30%;
}
.newPost {
  margin-top: 9%;
  margin-right: 3%;
  margin-left: 3%;
}
.button {
  transition-duration: 0.2s;
  height: 30px;
  width: 12%;
  border-left: none;
  border-right: none;
  text-decoration-color: #dfccae;
  color: #423b35;
  display: block;
  float: right;
  font-family: 'Playfair Display', serif;
  border-bottom: 2px inset #423b35;
}

.button:hover {
  background-color: #fd5e086b;
  color: white;
}

label {
  display: flex;
  flex-direction: column;
}

.newPost h1 {
  margin: 0;
  margin-bottom: 1%;
  padding: 0;
}

.button-wrap {
  display: flex;
  justify-content: space-between;
}
