.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form h2 {
  background: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
  color: #e8e9ec;

  margin-top: 0;
  padding: 35px 35px 35px 35px;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
}
.login-form .content {
  padding: 5%;
  text-align: center;
}
.login-form input {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login-form input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.login-form input:focus {
  border-color: #222;
}

.login-form button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
  color: #e8e9ec;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-form button:hover {
  background: gray;
}

body {
  background: rgb(244, 235, 228);
  background: linear-gradient(
    90deg,
    rgba(244, 235, 228, 0.9920343137254902) 7%,
    rgba(251, 242, 227, 0.7903536414565826) 48%,
    rgba(242, 237, 230, 1) 92%
  );
}

.login-form a {
  margin-bottom: 1%;
  text-align: center;
}
